/* paramètres généraux */
@font-face {
    font-family: "font-reg";
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: "font-bold";
    src: url(../fonts/PlayfairDisplay-ExtraBold.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* couleur selection du texte */
/* *::selection {
    background: #000101;
    color: #fefeff;
} */
/* effet scroll  */
html {
    scroll-behavior: smooth;
}
body {
    font-family: "font-reg", serif;
    background: #000101;
    color: #fefeff;
    transition: 0.7s ease-in-out;
}
.wrapper{
    perspective: 800px;
}
/* effets transition d'apparition */
.appear {
    opacity: 0;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: top center;
    transform-style: preserve-3d;
    transition: 0.8s cubic-bezier(0.215,0.61,0.355,1);
}
.appear.is-inview{
    opacity: 1;
    transition-delay: 1s;
    transform: none;
}
h2 {
    /* calcul la taille à adapter selon largeur de l'écran min 3rem */
    font-size: calc(2.6rem + 3.4vw); 
    text-align: center;
    color: rgb(217, 217, 217);
    font-family: "font-bold", serif;
    letter-spacing: 3px;
}
.title {
    font-size: calc(1.5rem + 4vw);
    letter-spacing: 0;
}
span {
    display: inline-block;
}
a, a:visited {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #fefeff;
    transition: 0.1s linear;
    font-size: calc(0.8rem + 0.8vw);
}
a::after {
    content: "";
    position: absolute;
    width: 100%;
    background: #fefeff;
    height: 1px;
    bottom: -4px;
    left: 0;
    /* indique le départ de l'animation à partir de la gauche */
    /* transform-origin: left ; */
}
a:hover {
    /* la scale fonctionne car il y a le display:flex du header */
    transform: scale(1.04);
    color: rgb(200, 200, 200);
}
a:hover::after {
    animation: animeLink 1.4s infinite ease-in-out;
}
/* on paramètre "crée" notre animation */
@keyframes animeLink {
    50% {
        transform: scaleX(0.2);
    }
    100% {
        transform: scaleX(1);
    }       
}
.img {
    height: 400px;
    width: 100vw;
    max-width: 390px;
    margin: 0 auto;
    /* effet noir et blanc des image */
    filter: grayscale(100%);
    transition: 1.6s;
}
.img:hover {
    filter: grayscale(10%);
}
/* ligne de séparation des sections */
.line {
    height: 2px;
    width: 70%;
    margin: 0 auto;
    background: #000101;
    transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
    /* transform-origin: left; */
    transition-delay: 0.50s;
    opacity: 0;
    transform: scaleX(0);
}
.line-wrapper.is-inview .line{
    opacity: 1;
    transform: scaleX(1);
}
/* paramètres par ordre d'apparition */
/* section header */
header {
    height: 100vh;
    position: relative;
    margin: 1.5vw 2vw 0;
}
.links {
    display: flex;
    justify-content: space-between;
}
#h1-wrapper {
    transition-delay: .4s;
}
h1 {
    font-size: calc(2rem + 6vw);
    margin-top: 50px;
    font-family: "font-bold", serif;
    letter-spacing: 5px;
    /* color: #fefeff; */
}
header h2 {
    margin: 15px 0;
    text-align: left;
    font-size: calc(1rem + 5vw);
}
#h2-1{
    transition-delay: .9s;
}
#h2-2{
    transition-delay: 1.2s;
}
/* .scroll-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.5vw;
    color: rgb(217, 217, 217);
    font-size: calc(0.8rem + 0.2vw);
} */
/* section about */
.about {
    margin: 400px 0 250px;
}
/* .img1-wrapper {
    z-index: 2;
    position: relative;
} */
.img1 {
    height: 400px;
    width: 100%;
    max-width: 100%;
    background: url(../img/labo.jpeg) center/cover;
}
.h2-wrapper {
    /* pouvoir lire à traver le titre */
    mix-blend-mode: exclusion;
    margin: -200px 0 200px;
    /* text-align: center;
    z-index: 4;
    position: relative; */
}
.about p {
    width: 70%;
    min-width: 280px;
    text-align: center;
    margin: 0 auto;
    line-height: calc(7px + 4.5vw);
    font-size: calc(1rem + 1vw);
    letter-spacing: 1px;
}
/* partie expertise */
.skills {
    margin : 200px 0 250px
}
.skills h2 {
    margin-bottom: 150px;
}
.skills .wrapper {
    margin: 30px 0;
}
.skills .appear {
    text-align: center;
    transition-delay: .6s;
}
.skills p {
    font-size: calc(1rem + 6vw);
    font-family: "font-bold", serif;
    letter-spacing: 4px;
    background: #000101;
    color: #fefeff;
    display: inline-block;
    padding: 0 12px 12px;
    opacity: .8;
}
/* portfolio / projet */
.portfolio {
    margin: 200px 0;
}
.projects-container {
    margin-top: 100px;
}
.project {
    position: relative;
    width: 60vw;
    max-width: 600px;
    margin: 50px 5vw;
}
.project::before{
    content: "";
    position: absolute;
    height: 110%;
    width: 100%;
    top: -3px;
    background: #fefeff;
    transition: width 1s ease-out;
    transition-delay: .85s;
}
.project.is-inview::before {
    width: 0;
}
#p2 {
    margin: 0 6vw 0 auto;
}
#p3 {
    margin-left: 8vw;
}
.project img{
    transition: 0.4s ease-out;
    width: 100%;
}
.project:hover img {
    filter: brightness(20%);
}
.project:hover .project-infos {
    opacity: 1;
    transform: translate(0, -50%);
}
.project-infos {
    position: absolute;
    top: 50%;
    transform : translate(-50px, -50%);
    margin-left: 8vw;
    transition: 0.4s ease-out;
    opacity: 0;
}
.project-infos a {
    font-size: calc(1rem + 3vw);
}
.project-infos p {
    font-size: 2rem;
    margin-top: 1.5vw;
    color: #fefeff;
}
/* contact */
.contact {
    margin: 50px 0 120px;
}
.contact p{
    font-size: calc(1rem + 2vw);
    margin: 25px 0;
    /* font-weight: 900; */
    text-align: center;
}
#l2 {
    transition-delay: 1.2s;
}
#l3 {
    transition-delay: 1.6s;
}
#l4 {
    transition-delay: 2s;
}
.contact a, .corps-page a {
    font-family: "font-bold", serif;
    color: #000101;
    font-size: calc(1rem + 2vw);
}
.img2{
    background: url(../img/dr-dalila.jpeg) center/cover;
}

/* footer */
footer {
    height: 150px;
    margin: 0px auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer span {
    position: relative;
    font-size: calc(0.8rem + 0.1vw);
    margin: 25px;
    font-weight: 500;
    text-align: center;
    color: #000101;
}
footer span:not(:last-child):after {
    content: '';
    position: absolute;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background: #000101;
    margin: 6px 10px 10px;
}
footer i{
    color: #000101;
    width: 20px;
    height: 20px;
}

footer p.linkedin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p.linkedin svg{
    margin-left: 15px;
}

.footer a {
    font-family: "font-bold", serif;
    color: #000101;
    font-size: .8rem;
    text-decoration: underline;
    padding-left: 2px;
}

/* ------------------Parcours---------------------- */
/* ------------------titre - citation---------------------- */
#p1{
    transition-delay: .9s;
}
#p2{
    transition-delay: 1.2s;
}
header p {
    margin: 15px 0;
    text-align: left;
    font-size: calc(1rem + 3vw);
}
/* ------------------Timeline---------------------- */
#main{
    min-height: 100vh;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 60px auto;
    position: relative;
}
.timeline ul{
    list-style: none;
}
.timeline ul li {
    padding: 20px;
    background-color: #000101b8;
    color: #fefeff;
    border-radius: 12px;
    margin-bottom: 20px;
}
.timeline ul li:hover {
    background-color: rgba(6, 61, 95, 0.85);
}
.timeline ul li:last-child{
    margin-bottom: 0px;
}
.timelineContent .date{
    font-size: calc(1.5rem + 1.8vw);
    color: rgb(217, 217, 217);
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-align: left;
}
.timeline h2.timelineh2{
    font-size: calc(1.8rem + 2vw);
    margin-bottom: 50px;
    
}
.timelineContent h3.timelineh3{
    font-size: calc(1.3rem + 2.2vw);
    color: #fefeff;
    line-height: 50px;
    margin-bottom: 10px;
    font-family: "font-bold", serif;
    letter-spacing: 3px;
    text-align: center;
}
.timelineContent p{
    font-size: calc(1rem + 1vw);
    line-height: 50px;
    text-align: center;
}

/* ------------------Mentions légales---------------------- */
.corps-page{
   
    text-align: center;
    margin: 0px;
    background-color: #fefeff;
    color: #000101;
}
.corps-page h1 {
    font-size: 62px;
    margin: 0px 0px 20px;
}
.corps-page h2 {
    font-size: 48px;
    color: #000101;
    margin: 20px 0;
}
.corps-page p {
    line-height: 50px;
    text-align: justify;
    padding: 10px 50px 0px;
    font-size: calc(1rem + 2vw);
    margin: 5px 0;
}

.corps-page p a {
    color: rgb(47, 45, 45);
    font-weight: bolder;
}
/* ------------------Responsif---------------------- */
/*----partie timeline----*/
@media (min-width: 650px){
    .timeline{
        width: 100%;
        max-width: 100%;
        margin: 40px;
    }
    .timeline h2.timelineh2{
        font-size: calc(2.8rem + 4vw);
    }
    .timeline::after{
        content: '';
        position: absolute;
        height: 90%;
        width: 3px;
        background-color: #000101b8;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px;
    }
    .timeline ul li::after {
        content: '';
        position: absolute;
        background-color: #000101;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    .timeline ul li:nth-child(odd)::after{
        right: -30px;
        transform: translate(50%, -50%);
        border-radius: 0px 20px 20px ;
    }
    .timeline ul li:nth-child(even)::after{
        left: -30px;
        transform: translate(-50%, 50%);
        border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:hover:after {
        background-color: rgba(6, 61, 95);
    }
    .timeline ul li:hover {
        background-color: rgba(6, 61, 95, 0.85);
    }
    .timelineContent .date{
        position: absolute;
        top: -50px;
        color: #000101;
    }
}
/*----partie footer----*/
@media (max-width: 650px) {
    .img1 {
        height: 400px;
        width: 80%;
        background: url(../img/dalila-labo-recherche.jpeg) top/cover;
    }
    footer {
        flex-direction: column-reverse;
    }
    footer span {
        margin: 10px;
    }
    
}


